<div>
  show outline: <input type="checkbox"
       ng-click="toggleOutline()">{{showOutline}}
       </div>
<div class="row" id="diagramRow">
  <div class="col-lg-2" ng-show="showJson">
    <h3>Data binding</h3>
    <div class="info">
      {{info}}
    </div>
    <pre class="code">{{ jSonHolder | json }}</pre>
  </div>
  <div class="col-lg-6" id="canvasDiv">
    <svg id="svg" width="1500" height="1500"></svg>
  </div>
  <div node-properties class="" id="nodepropertiesdiv" >
    
  </div>
</div>