<div id="outlineDiv">
  show outline:
  <input type="checkbox" ng-click="toggleOutline()">Show jSON
  <input type="checkbox" ng-click="toggleJson()">
</div>
<div class="row" id="diagramRow">
  <div class="col-lg-2" ng-show="showJson">
    <h3>Data binding</h3>
    <div class="info">
      {{info}}
    </div>
    <pre class="code">{{ file | json }}</pre>
  </div>
  <div id="canvasDiv">
    <svg id="svg" width="1500" height="1500"></svg>
  </div>
  <div node-properties class="" id="nodepropertiesdiv">

  </div>
</div>